<button #btn (click)="fuck()">x</button>
<input type="text" #penis >
<pre ng-non-bindable>
tsconfig.json
T
difference between implements and extends
messagestub
post put get
1em
angular-cli.json
declarations
what is > scss
modules
advantages of typescript
breakpoints
animations
mock service
advantages of es6
get set
try throw
try throw (email validation)
angular native
browser animations
advanatges of typescript 2.4
rxjs 5.5 angular differences
http library deprecated / backward compatible / under the hood / syntax / exportas / import {{ '{' }}map, filter{{ '{' }}{{ '{' }} '}' }} from 'rxjs/operator' / validation for emails / onsameurlnavigation / updateonsubmit
angular 5 universal
what is l18N?
comment more / docs / responsive for large pages / design / beautiful design
lodash
pipes
renderer / renderer2
life cycle
ngtemplate
strings
objects
</pre>

xxxxxxxxxxxxx
<router-outlet></router-outlet>
xxxxxxxxxxx

