Angular 2<br><br>
Angular 1<br><br>
2 separate applications<br><br><br><br>
create new screens to  finish off current  projects<br><br><br><br><br><br>

practicalities of supporting Angular 4/5 within same Angular 2 application or ultimately migration to Angular 4 <br><br>



Design, engineer/articulate a direction for<br><br> UI Architecture and tooling.<br><br><br><br><br><br>


Formal and informal training of colleagues in Front-end development practices.<br><br>
Prioritise development issues.<br><br>
Liaise with project managers and business analysis to produce estimates.<br><br>
Lead and mentor team colleagues in your areas of competence and expertise<br><br>
Strategic contribution to the new product suite that are key to the future success
of our business and will require a strong commitment to meet ambitious
deadlines<br><br>
Build up in-depth operational knowledge of key products and services.<br><br>
Apply engineering best practice to the software development lifecycle<br><br>
Maintain clear communications with stakeholders associated with the projects
you are working on<br><br>
Flexibility and to undertake such other work as may be assigned to you from
time to time<br><br>
Identify areas for improvements (e.g. application operations, design, processes
etc.)<br><br><br><br>


You will learn and use Sharepoint and the operations module of our CRM for daily
reporting on task progress. As you gain experience, the nature of the position and
the scope of your duties will change over time.<br><br><br><br>

Work day to day with Team Foundation Server to manage issues, merge
requests and merge conflicts as they arise (we are currently migrating from Git
Hub as part of a strategic programme management inititiative)
