.bg {
    padding: 10px 0px;
    min-height: 60px;
    background: #e0eaf3;

    flex:1;

    border: 1px solid green;

      cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}


.bg2 {
    padding: 10px 0px;
    min-height: 10px;
    background: yellow;
    color: black;

    flex:1;

    border: 1px solid green;
}

.thing {
  border: 1px solid blue;
  background: pink;
}


.wrapperx {
  display: flex;
}



hr {
  width: 100px;
}






.wrapper {
  display: table;
}

.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}

.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

.container div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.section {
  width: 100px;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container .ex-moved {
  background-color: yellow;
}

.container.ex-over {
  background-color: green;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

/deep/ .mat-ink-bar {
  transition: none!important;
}













//@import '~bootstrap/dist/css/bootstrap.css';
// nested-repeat-example .container span {
//   display: block;
//   padding: 8px;
// }


// md-tab-group.md-no-animation md-ink-bar {
//     transition: none;
// }
// md-tab-group.md-no-animation md-tab {
//     transition: none;
// }
