<!-- <div class="container">
  <div class="row">
    <div class="col-sm">kdwkjdjkdsjks</div>
    <div class="col-sm">kdwkjdjkdsjks</div>
    <div class="col-sm">kdwkjdjkdsjks</div>
  </div>
</div> -->
<mat-tab-group class="md-no-animation" [@.disabled]=1>
  <!--   <mat-tab label="kjsdkjsdjksd">
    <br>
    <div class='parent'>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag10"' [dragulaModel]='many'>
          <label>Available Permissions</label>
          <div *ngFor='let text of many'>{{text}}</div>
        </div>
        <div class='container' [dragula]='"bag10"' [dragulaModel]='many2'>
          <label>Allowed</label>
          <div *ngFor='let text2 of many2'>{{text2}}</div>
        </div>
        <div class='container' [dragula]='"bag10"' [dragulaModel]='many3'>
          <label>Not Allowed</label>
          <div *ngFor='let text2 of many3'>{{text2}}</div>
        </div>
      </div>
      <div class='wrapper'>
        <div class='container'><pre>{{many | json}}</pre></div>
        <div class='container'><pre>{{many2 | json}}</pre></div>
        <div class='container'><pre>{{many3 | json}}</pre></div>
      </div>
    </div>
  </mat-tab>

 -->
  <mat-tab label="Details"> 
    <div class='parent'>
      <label for='hy'><strong>Angular-specific example.</strong> Fancy some <code>ngFor</code>?</label>


          <div class='wrapperx'>
      <div class="bg2" >Permissions Available</div>
      <div class="bg2" >Allowed</div>
      <div class="bg2" >Not Allowed</div>
    </div>











      <div class='wrapperx'>
        <div class='containerx bg' [dragula]='"bag10"' [dragulaModel]='many'>
          <div class="thing" *ngFor='let text of many'>
            <input type="checkbox">{{text}}</div>
        </div>
        <div class='containerx bg' [dragula]='"bag10"' [dragulaModel]='many2'>
          <div class="thing" *ngFor='let text of many2'>
            <input type="checkbox">{{text}}</div>
        </div>
        <div class='containerx bg' [dragula]='"bag10"' [dragulaModel]='many3'>
          <div class="thing" *ngFor='let text of many3'>
            <input type="checkbox">{{text}}</div>
        </div>
      </div>
<!--           <div class='wrapperx'>
      <div class="bg" ><pre>{{many | json}}</pre></div>
      <div class="bg" ><pre>{{many2 | json}}</pre></div>
      <div class="bg" ><pre>{{many3 | json}}</pre></div>
    </div> -->
    </div>
  </mat-tab>
  <mat-tab label="jksdjskdkjsd">
    <br>Name: {{user?.name}}</mat-tab>
  <!-- 
















  <mat-tab label="Permissions">
    <div class='parent'>
      <label for='hy'>Move stuff between these two containers. Note how the stuff gets inserted near the mouse pointer? Great stuff.</label>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag1"'>
          <div>You can move these elements between these two containers</div>
          <div>Moving them anywhere else isn't quite possible</div>
          <div>There's also the possibility of moving elements around in the same container, changing their position
          </div>
        </div>
        <div class='container' [dragula]='"bag1"'>
          <div>This is the default use case. You only need to specify the containers you want to use</div>
          <div>More interactive use cases lie ahead</div>
          <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on
                GitHub!</a></div>
        </div>
      </div>
      <pre>
      <code>
&lt;div [dragula]=&#039;&quot;first-bag&quot;&#039;&gt;&lt;/div&gt;
&lt;div [dragula]=&#039;&quot;first-bag&quot;&#039;&gt;&lt;/div&gt;
      </code>
    </pre>
    </div>
    <div class="parent">
      example b
      <label for="hy">There are plenty of events along the lifetime of a drag event. <a href="https://github.com/bevacqua/dragula#drakeon-events">all of them</a> in the docs!</label>
      <div class="wrapper">
        <div class="container" [dragula]="'bag2'">
          <div>As soon as you start dragging an element, a <code>drag</code> event is fired</div>
          <div>Whenever an element is cloned because <code>copy: true</code>, a <code>cloned</code> event fires</div>
          <div>The <code>shadow</code> event fires whenever the placeholder showing where an element would be dropped is moved to a different container or position</div>
          <div>A <code>drop</code> event is fired whenever an element is dropped anywhere other than its origin <em>(where it was initially dragged from)</em></div>
        </div>
        <div class="container" [dragula]="'bag2'">
          <div>If the element gets removed from the DOM as a result of dropping outside of any containers, a <code>remove</code> event gets fired</div>
          <div>A <code>cancel</code> event is fired when an element would be dropped onto an invalid target, but retains its original placement instead</div>
          <div>The <code>over</code> event fires when you drag something over a container, and <code>out</code> fires when you drag it away from the container</div>
          <div>Lastly, a <code>dragend</code> event is fired whenever a drag operation ends, regardless of whether it ends in a cancellation, removal, or drop</div>
        </div>
      </div>
      <div class='parent'>
        another example
        <label for='hy'>Need to be able to quickly delete stuff when it spills out of the chosen containers? Note how you can easily sort the items in any containers by just dragging and dropping.</label>
        <div class='wrapper'>
          <div class='container' [dragula]='"bag3"'>
            <div>Banana Boat</div>
            <div>Orange Juice</div>
            <div>Cuban Cigar</div>
            <div>Terrible Comedian</div>
            <div>Anxious Cab Driver</div>
            <div>Thriving Venture</div>
            <div>Calm Clam</div>
          </div>
        </div>
        <pre>
      <code>
&lt;div [dragula]=&#039;&quot;third-bag&quot;&#039;&gt;&lt;/div&gt;

class AnotherExample &#123;
  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.setOptions('third-bag', &#123;
      removeOnSpill: true
    });
  }
}
      </code>
    </pre>
      </div>
    </div>
    <div class='parent'>
      <label for='hy'>Drag handles float your cruise?</label>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag6"'>
          <div><span class='handle'>+</span>Move me, but you can use the plus sign to drag me around.</div>
          <div><span class='handle'>+</span>Note that <code>handle</code> element in the <code>moves</code> handler is just the original event target.
          </div>
        </div>
        <div class='container' [dragula]='"bag6"'>
          <div><span class='handle'>+</span>This might also be useful if you want multiple children of an element to be able to trigger a drag event.
          </div>
          <div><span class='handle'>+</span>You can also use the <code>moves</code> option to determine whether an element can be dragged at all from a container, <em>drag handle or not</em>.
          </div>
        </div>
      </div>
      <pre>
      <code>
&lt;div [dragula]=&#039;&quot;sixth-bag&quot;&#039;&gt;&lt;/div&gt;
&lt;div [dragula]=&#039;&quot;sixth-bag&quot;&#039;&gt;&lt;/div&gt;

class MuchExample &#123;
  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.setOptions('sixth-bag', &#123;
      moves: function (el, container, handle) &#123;
        return handle.className === 'handle';
      }
    });
  }
}
      </code>
    </pre>
      <div>There are a few similar mechanisms to determine whether an element can be dragged from a certain container <a href='https://github.com/bevacqua/dragula#optionsmoves'>(<code>moves</code>)</a>, whether an element can be dropped into a certain container at a certain position <a href='https://github.com/bevacqua/dragula#optionsaccepts'>(<code>accepts</code>)</a>, and whether an element is able to originate a drag event <a href='https://github.com/bevacqua/dragula#optionsinvalid'>(<code>invalid</code>)</a>.
      </div>
    </div>
    <div class='parent'>
      <label for='hy'><strong>Angular-specific example.</strong> Fancy some nested <code>ngFor</code>?</label>
      <div class='wrapper'>
        <div class='container' *ngFor='let group of groups' [dragula]="'bag9'">
          <span>{{group.name}}</span>
          <div *ngFor='let item of group.items' [innerHtml]='item.name'></div>
        </div>
      </div>
      <pre>
      <code>
&lt;div class='wrapper'&gt;
  &lt;div class='container' *ngFor='let group of groups' [dragula]='&quot;nested-bag&quot;'&gt;
    &lt;div *ngFor='let item of group.items' [innerHtml]='item.name'&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

class NestedRepeatExample &#123;
  public groups: Array&lt;any&gt; = [
    &#123;
      name: 'Group A',
      items: [&#123;name: 'Item A'},&#123;name: 'Item B'},&#123;name: 'Item C'},&#123;name: 'Item D'}]
    },
    &#123;
      name: 'Group B',
      items: [&#123;name: 'Item 1'},&#123;name: 'Item 2'},&#123;name: 'Item 3'},&#123;name: 'Item 4'}]
    }
  ];
}
      </code>
    </pre>
    </div>
    <div class='parent'>
      <label for='hy'><strong>Angular-specific example.</strong> Fancy some <code>ngFor</code>?</label>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag8"' [dragulaModel]='many'>
          <div *ngFor='let text of many' [innerHtml]='text'></div>
        </div>
        <div class='container' [dragula]='"bag8"' [dragulaModel]='many2'>
          <div *ngFor='let text of many2' [innerHtml]='text'></div>
        </div>
      </div>
      <div class='wrapper'>
        <div class='container'>
          <pre>{{many | json}}</pre>
        </div>
        <div class='container'>
          <pre>{{many2 | json}}</pre>
        </div>
      </div>
      <pre>
      <code>
&lt;div class='wrapper'&gt;
  &lt;div class='container' [dragula]='&quot;another-bag&quot;' [dragulaModel]='many'&gt;
    &lt;div *ngFor='let text of many' [innerHtml]='text'&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class='container' [dragula]='&quot;another-bag&quot;' [dragulaModel]='many2'&gt;
    &lt;div *ngFor='let text of many2' [innerHtml]='text'&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

class RepeatExample &#123;
  public many: Array&lt;string&gt; = ['The', 'possibilities', 'are', 'endless!'];
  public many2: Array&lt;string&gt; = ['Explore', 'them'];

  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.dropModel.subscribe((value) => &#123;
      this.onDropModel(value.slice(1));
    });
    dragulaService.removeModel.subscribe((value) => &#123;
      this.onRemoveModel(value.slice(1));
    });
  }

  private onDropModel(args) &#123;
    let [el, target, source] = args;
    // do something else
  }

  private onRemoveModel(args) &#123;
    let [el, source] = args;
    // do something else
  }
}
      </code>
    </pre>
    </div>
    <div class='parent'>
      <label for='hy'>By default, dropping an element outside of any known containers will keep the element in the last place it went over. You can make elements go back to origin if they're dropped outside of known containers, too.
      </label>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag4"'>
          <div>Moving items between containers works as usual</div>
          <div>If you try to drop an item outside of any containers, though, it'll retain its original position</div>
          <div>When that happens, a <code>cancel</code> event will be raised</div>
        </div>
        <div class='container' [dragula]='"bag4"'>
          <div>Note that the dragged element will go back to the place you originally dragged it from, even if you move it over other containers
          </div>
          <div>This is useful if you want to ensure drop events only happen when the user intends for them to happen explicitly, avoiding surprises
          </div>
        </div>
      </div>
      <pre>
      <code>
&lt;div [dragula]=&#039;&quot;fourth-bag&quot;&#039;&gt;&lt;/div&gt;
&lt;div [dragula]=&#039;&quot;fourth-bag&quot;&#039;&gt;&lt;/div&gt;

class SuchExample &#123;
  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.setOptions('fourth-bag', &#123;
      revertOnSpill: true
    });
  }
}
      </code>
    </pre>
    </div>
    <div class='parent'>
      <label for='hy'>Copying stuff is common too, so we made it easy for you.</label>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag5"'>
          <div>When elements are copyable, they can't be sorted in their origin container</div>
          <div>Copying prevents original elements from being dragged. A copy gets created and <em>that</em> gets dragged instead
          </div>
          <div>Whenever that happens, a <code>cloned</code> event is raised</div>
        </div>
        <div class='container' [dragula]='"bag5"'>
          <div>Note that the clones get destroyed if they're not dropped into another container</div>
          <div>You'll be dragging a copy, so when they're dropped into another container you'll see the duplication.
          </div>
        </div>
      </div>
      <pre>
      <code>
&lt;div [dragula]=&#039;&quot;fifth-bag&quot;&#039;&gt;&lt;/div&gt;
&lt;div [dragula]=&#039;&quot;fifth-bag&quot;&#039;&gt;&lt;/div&gt;

class VeryExample &#123;
  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.setOptions('fifth-bag', &#123;
      copy: true
    });
  }
}
      </code>
    </pre>
    </div>
    <div class='parent'>
      <label><strong>Click or Drag!</strong> Fires a click when the mouse button is released before a <code>mousemove</code> event, otherwise a drag event is fired. No extra configuration is necessary.</label>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag7"'>
          <div (click)='onclick("one")'>{{clicked.one ? "Clicked!" : "Clicking on these elements triggers a regular click event you can listen to."}}</div>
          <div (click)='onclick("two")'>{{clicked.two ? "Clicked!" : "Try dragging or clicking on this element."}}</div>
          <div (click)='onclick("three")'>{{clicked.three ? "Clicked!" : "Note how you can click normally?"}}</div>
          <div (click)='onclick("four")'>{{clicked.four ? "Clicked!" : "Drags don't trigger click events."}}</div>
          <div (click)='onclick("five")'>{{clicked.five ? "Clicked!" : "Clicks don't end up in a drag, either."}}</div>
          <div (click)='onclick("six")'>{{clicked.six ? "Clicked!" : "This is useful if you have elements that can be both clicked or dragged."}}</div>
          <div (click)='onclick("seven")'>{{clicked.seven ? "ZOMG, THAT TICKLES! PLEASE. STOP." : "Business as usual."}}</div>
        </div>
      </div>
      <pre>
      <code>
&lt;div [dragula]=&#039;&quot;seventh-bag&quot;&#039;&gt;&lt;/div&gt;

class WowExample &#123;
  public clicked: any = &#123;
    'one': false,
    'two': false,
    'three': false,
    'four': false,
    'five': false,
    'six': false,
    'seven': false
  };

  public onclick(key): void &#123;
    this.clicked[key] = true;
    setTimeout(() => &#123;
      this.clicked[key] = false;
    }, 2000);
  }
}
      </code>
    </pre>
    </div>
  </mat-tab> -->
</mat-tab-group>
